<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Treasure Map</title>
  <meta name="description" content="">
  <meta name="author" content="Fenimore Love">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/normalize.css">
  <link rel="stylesheet" href="../static/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row" style="margin-bottom:15%;">
        <div class="one-half column" style="margin-top:7%">
          <h4 class="hero-heading">Treasure Map</h4>
          <a class="button button-primary" href="montreal">Try Montreal</a>
        <h5>What and Where</h5>
        <hr>
        <p>This application is Treasure Map, a way for plotting <b>free stuff</b> posted on craigslist onto a map. </p>
        Treasure Map requires the precise name of the stuff's city, without spaces in order for the url to work. <b>New York is then newyork</b>. Currently only five cities are supported, Montreal, Toronto, Vancouver, Washington D.C., and New York. <br> Try: <a href="washingtondc">D.C.</a> or <a href="newyork">New York</a>.
        </div>
        <div style="margin-top:15%" class="one-half column phones">
          <img class="phone" 
          src="../static/img/compass.png" style="width:300px;height:auto">
        </div>
      </div>
    </div>

  </div>

  <div class="section values">
    <div class="container">
      <div class="row" style="margin-right:10%;margin-left:10%;">
      <div class="one-third column value">
          <h2 class="value-multiplier">35%</h2>
          <h5 class="value-heading">Practicality</h5>
          <p class="value-description">Because freedom takes effort.</p>
      </div>
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">0%</h2>
          <h5 class="value-heading">Purchase Increase</h5>
          <p class="value-description">Percentage of users likely to make a purchase.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section get-help">
    <div class="container" >
    <div style="margin-right:10%;margin-left:10%;">
      <h3 class="section-heading">Contact</h3>
      <p class="section-description">Click <a href="https://github.com/polypmer/treasure-map">here</a> for the source code.<br>
      Current contact information is up in the <a href="http://polypmer.org">air</a>.<br>
      email fenimore.love(at)workingagenda.com</p>
      </div>
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <div class="row">
        <div clas="4 columns" style="margin-right:10%;margin-left:10%;">
      <h3 class="section-heading">Disclaimer</h3>
      <p class="section-description">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
        </p><small>BEWARE OF EXCESSIVE ACCUMULATION.</small>
        </div>
      </div>
      <div class="row">
        <hr>
        Fenimore Love | 2015 (GPL)
      </div>
    </div>
  </div>




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
