<!DOCTYPE html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <link rel="stylesheet" href="//rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css">
   <script src="//rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>


   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

   <link rel="stylesheet" href="//birdage.github.io/Leaflet.awesome-markers/dist/leaflet.awesome.rotate.css">

   
   
   
   

   <style>

      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
      }

   </style>
</head>

<body>

   <div class="folium-map" id="folium_53d82217517f4f1d9e12f8e6eaa6e694" style="width: 960px; height: 500px"></div>

   <script>

      

      var base_tile = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          minZoom: 1,
          attribution: 'Map data (c) <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
      });

      var baseLayer = {
        "Base Layer": base_tile
      };

      /*
      addition of the wms layers
      */

      

      /*
      addition of the tile layers
      */
      

      /*
      list of layers to be added
      */
      var layer_list = {
      
      };

      /*
      Bounding box.
      */
      var southWest = L.latLng(-90, -180),
          northEast = L.latLng(90, 180),
          bounds = L.latLngBounds(southWest, northEast);

      /*
      Creates the map and adds the selected layers
      */
      var map = L.map('folium_53d82217517f4f1d9e12f8e6eaa6e694', {
                                       center:[45.5088, -73.5878],
                                       zoom: 11,
                                       maxBounds: bounds,
                                       layers: [base_tile]
                                     });

      L.control.layers(baseLayer, layer_list).addTo(map);

      //cluster group
      var clusteredmarkers = L.markerClusterGroup();
      //section for adding clustered markers
      
      //add the clustered markers to the group anyway
      map.addLayer(clusteredmarkers);

      

      
      var circle_1 = L.circle([45.524031, -73.582712], 500, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_1.bindPopup("\n                <img src='https://images.craigslist.org/00c0c_59rWw1Bbdxt_300x300.jpg' height='auto' width='160px' />\n                <h3>Free industrial cleaners</h3>\n                <h4>Plateau, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051410490.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_1._popup.options.maxWidth = 300;
      map.addLayer(circle_1)
      
      var circle_2 = L.circle([45.5115944, -73.6051013], 490, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_2.bindPopup("\n                <img src='https://images.craigslist.org/00U0U_9s9rAU39Dsu_300x300.jpg' height='auto' width='160px' />\n                <h3>Christmas Village</h3>\n                <h4>Atwater Metro, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051388778.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_2._popup.options.maxWidth = 300;
      map.addLayer(circle_2)
      
      var circle_3 = L.circle([45.512270, -73.707503], 480, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_3.bindPopup("\n                <img src='https://images.craigslist.org/00Y0Y_aygus3S8fir_300x300.jpg' height='auto' width='160px' />\n                <h3>Persian cat looking for a caring home</h3>\n                <h4>Ville Saint-Laurent, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051335587.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_3._popup.options.maxWidth = 300;
      map.addLayer(circle_3)
      
      var circle_4 = L.circle([45.482277, -73.585191], 470, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_4.bindPopup("\n                <img src='https://images.craigslist.org/00606_kO5WyJoow7f_300x300.jpg' height='auto' width='160px' />\n                <h3>Petmate carrier (cat or small dog)</h3>\n                <h4>Montre, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051295416.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_4._popup.options.maxWidth = 300;
      map.addLayer(circle_4)
      
      var circle_5 = L.circle([45.482277, -73.585191], 460, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_5.bindPopup("\n                <img src='http://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg' height='auto' width='160px' />\n                <h3>FREE queen mattress</h3>\n                <h4>Montre, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051285446.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_5._popup.options.maxWidth = 300;
      map.addLayer(circle_5)
      
      var circle_6 = L.circle([45.482277, -73.585191], 450, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_6.bindPopup("\n                <img src='http://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg' height='auto' width='160px' />\n                <h3>FREE plywood</h3>\n                <h4>Montre, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051267469.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_6._popup.options.maxWidth = 300;
      map.addLayer(circle_6)
      
      var circle_7 = L.circle([45.538501, -73.596411], 440, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_7.bindPopup("\n                <img src='http://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg' height='auto' width='160px' />\n                <h3>blank CD and kitchen supplies</h3>\n                <h4>Rosemont, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051175889.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_7._popup.options.maxWidth = 300;
      map.addLayer(circle_7)
      
      var circle_8 = L.circle([45.450809, -73.638739], 430, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_8.bindPopup("\n                <img src='https://images.craigslist.org/00t0t_4am5LwCAvoa_300x300.jpg' height='auto' width='160px' />\n                <h3>STACKABLE STONES</h3>\n                <h4>Montreal West, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051173117.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_8._popup.options.maxWidth = 300;
      map.addLayer(circle_8)
      
      var circle_9 = L.circle([45.450809, -73.638739], 420, {
                            color: '#000000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.2
                            });
      circle_9.bindPopup("\n                <img src='https://images.craigslist.org/00v0v_bPi8n6JjbQX_300x300.jpg' height='auto' width='160px' />\n                <h3>Maple, Oak, and Chestnut trees</h3>\n                <h4>Montreal West (Loyola Campu, montreal</h4>\n                <a href='http://montreal.craigslist.ca/zip/5051120651.html' target='_blank'>View Posting in New Tab</a>\n               ");
      circle_9._popup.options.maxWidth = 300;
      map.addLayer(circle_9)
      

      

      

      

      

   </script>

</body>