{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block jumbo %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id='jumbo' class="jumbotron">
  <div class="container">
    <div class=row style='padding-top:10%;padding-bottom:10%;'>
      <div class='col-md-4  col-md-offset-2'>
        <img src="static/img/compass_white.png" style="width:300px;height:auto" class='img-responsive center-block'>
      </div>
      <div class='col-md-4'>
        <h2>Treasure Map</h2>
        <p>This application is a treasure map:</p>
        <p>A map of <b>free stuff</b>.
        </p>
        <p>
            With this treasure map, <b>compare craigslist
              free stuff postings by distance.</b>
        </p>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle dropdown-welcome" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false" style="color:gold">
                  <span class="glyphicon glyphicon-globe" aria-hidden="true">
                  </span> Try Your City <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="presentation" class="dropdown-header">Canada</li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/montreal/map" onclick='loading();'>Montréal</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/toronto/map" onclick='loading();'>Toronto</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/vancouver/map" onclick='loading();'>Vancouver</a></li>
                  <li role="presentation" class="dropdown-header">USA East Coast</li>
                  <li role="presentation"><a role="menuitem" tjabindex="-1" href="/newyork/map" onclick='loading();'>New York</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/washingtondc/map" onclick='loading();'>D.C.</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/philadelphia/map" onclick='loading();'>Philadelphia</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/boston/map" onclick='loading();'>Boston</a></li>
                  <li role="presentation" class="dropdown-header">USA No Coast</li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/atlanta/map" onclick='loading();'>Atlanta</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/austin/map" onclick='loading();'>Austin</a></li>
                  <li role="presentation"><a role="menuitem" tjabindex="-1" href="/chicago/map" onclick='loading();'>Chicago</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/phoenix/map" onclick='loading();'>Phoenix</a></li>
                  <li role="presentation" class="dropdown-header">USA West Coast</li>
                  <li role="presentation"><a role="menuitem" tjabindex="-1" href="/sanfrancisco/map" onclick='loading();'>San Francisco</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/seattle/map" onclick='loading();'>Seattle</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/portland/map" onclick='loading();'>Portland</a></li>
                </ul>
              </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}<a id="about"></a>
<div class="row" style="margin-top:5%">
  <div class="col-md-6  col-md-offset-2">
          <h2>About</h2>
          <hr>
             <p>
              With the treasure map, compare craigslist
         free stuff postings by <b>location</b>. The distance of a free thing is inversely
        related to its value. There are many treasures to be found, using this application, hopefully,
        you will find something near you worth giving a new home.
             </p>
             <a id="api"></a><hr>
            <h3>Application Interface</h3>
                <div class="row">
                  <div class="col-md-6">
                      <p>Append your location into the url:</p>
                      <div class="panel panel-info">
                          <pre class="panel-body">
/&lt;location&gt;
/&lt;location&gt;/map
/&lt;location&gt;/&lt;limit&gt;
</pre>
                      </div>

                  <p>
                      The default map loads 25 items.</p><p>
                      These <i>stuffs</i> are marked by circles. The newer the posting, the bigger the circle (and the darker the border, the greater the overlap).
                    </p>
                  </div>
                  <div class="col-md-6 ">
                      <img src="static/img/screenshot.png" style="width:300px;height:auto" class='img-responsive img-circle center-block'>
                  </div>
                </div>
                <hr>
                <a id="disclaimer"></a>
                <div class="panel panel-danger" style="font-family:monospace">
                    <small>BEWARE OF EXCESSIVE ACCUMULATION.</small>
                </div>
                <div class="panel panel-warning" style="font-family:monospace">
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.
                </div>
                <h4>More</h4>
                <p>Source code is <a href="https://github.com/fenimore/treasure-map">here</a>.</p>
  </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<script>
$(document).ready(function(){
$("#show-l-btn").click(function(){
  $("#legend").toggle();
});
});
$(document).ready(function(){
$("#show-r-btn").click(function(){
  $("#recent").toggle();
});
});
function loading(){
  $("#loading").show();
  $("#content").hide();
  $("#jumbo").hide();

}

</script>
{% endblock %}
