{% extends "base.html" %}
{% block title %} - {{ location.title() }}{% endblock %}
{% block content %}


<div id="map"> {% include 'raw_map.html' %}</div>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link href='https://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
<style>
body {
font-family: 'IM Fell English', serif;
}
h1, h2, h3, h4 {
font-family: 'IM Fell English', serif;
}

</style>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <div class="panel panel-success" style='width:100%;margin-top:20%'>
        <div class="panel-heading">
          <div class='panel-title text-center' style='padding:5px;'>
            Treasures from {{ location.title() }}
            <button style="margin:10px" class='btn btn-primary btn-sm' id='show-l-btn'>Legend</button>
            <button class='btn btn-info btn-sm' id='show-r-btn'>Listing</button>
          </div>
        </div>
        <div id='legend' style='display:none' class="panel-body">
            <h3>Legend</h3>
            The listings are represented in diminishing order, and so the <b>smaller</b> the posting, the <b>older</b> it is.
          </ul>
          <h4>Troubleshooting</h4>
          <ul>
              <li>If empty, try <b>zooming out.</b></li>
          </ul>
          <a class="btn btn-success center-block" href="map/50" onclick="loading()">Load 50 Items</a>
          {% if score is defined %}
          Loaded in {{ score }} seconds.
          {% endif %}
        </div>
        <div id='recent' style='display:none' class='panel-body'>
            <div id='recent-display'>
                {% for thing in things %}
                <a href={{ thing.url }} target="_blank" >
                    <div class="media">
                        <div class="media-left">
                            <img class="pull-left media-object" style="width:64px;margin:10px;"
                                 src={{ thing.image }} >
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ thing.title.title() }}</h4>
                            {{ thing.place.title() }}
                            <br>
                            {{ thing.time.title() }}
                        </div>
                    </div>
                </a>
                <hr>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<script>
$(document).ready(function(){
    $("#show-l-btn").click(function(){
        $("#legend").toggle();
        if ($('#recent').css('display') == 'block') {
          $("#recent").toggle();
        }
    });
});
$(document).ready(function(){
    $("#show-r-btn").click(function(){
        $("#recent").toggle();
        if ($('#legend').css('display') == 'block') {
          $("#legend").toggle();
        }
    });
});
function loading(){
  $("#loading").show();
  $("#content").hide();
}
</script>

{% endblock %}
