<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_78e211ce870a4ca6826f3ca738904ae9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_78e211ce870a4ca6826f3ca738904ae9" ></div>
        
</body>
<script>    
    
            var map_78e211ce870a4ca6826f3ca738904ae9 = L.map(
                "map_78e211ce870a4ca6826f3ca738904ae9",
                {
                    center: [40.7127, -74.0058],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5d4b8f6de5744cd2ac5b40364d06d839 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
            var circle_marker_69a96e01f64e44afac599955dfb9669f = L.circleMarker(
                [40.6958, -73.7617],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_a35dff936f3141218028bbc361432dec = L.popup({"maxWidth": 3000});

        
            var html_347b4672712040088787c2394ff95bd1 = $(`<div id="html_347b4672712040088787c2394ff95bd1" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/01717_5ma1M4TA4h2_0CI0t2_600x450.jpg' height='auto' width='160px' />                     <h3>Spiritual necklace</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/saint-albans-spiritual-necklace/7229486465.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_a35dff936f3141218028bbc361432dec.setContent(html_347b4672712040088787c2394ff95bd1);
        

        circle_marker_69a96e01f64e44afac599955dfb9669f.bindPopup(popup_a35dff936f3141218028bbc361432dec)
        ;

        
    
    
            var circle_marker_d155800eaf754c6685e1009a9a41bed5 = L.circleMarker(
                [40.6958, -73.7617],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.8, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_a12aed14d9b8438aaa550f2bd4421193 = L.popup({"maxWidth": 3000});

        
            var html_3a0894771b7046368619e96c8e9b41df = $(`<div id="html_3a0894771b7046368619e96c8e9b41df" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00000_9SdI9Dttn3q_0t20CI_600x450.jpg' height='auto' width='160px' />                     <h3>Bar stool</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/saint-albans-bar-stool/7229486151.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_a12aed14d9b8438aaa550f2bd4421193.setContent(html_3a0894771b7046368619e96c8e9b41df);
        

        circle_marker_d155800eaf754c6685e1009a9a41bed5.bindPopup(popup_a12aed14d9b8438aaa550f2bd4421193)
        ;

        
    
    
            var circle_marker_b7b8afcc990c44a88f1a13bf58f98492 = L.circleMarker(
                [40.6958, -73.7617],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.600000000000001, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_bb04b1405f7742a29d6a3f52860a102b = L.popup({"maxWidth": 3000});

        
            var html_abcf8556d9bb4db188880e3cea5d33fb = $(`<div id="html_abcf8556d9bb4db188880e3cea5d33fb" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00E0E_15zufe35pGm_0t20CI_600x450.jpg' height='auto' width='160px' />                     <h3>High chair</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/saint-albans-high-chair/7229485593.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_bb04b1405f7742a29d6a3f52860a102b.setContent(html_abcf8556d9bb4db188880e3cea5d33fb);
        

        circle_marker_b7b8afcc990c44a88f1a13bf58f98492.bindPopup(popup_bb04b1405f7742a29d6a3f52860a102b)
        ;

        
    
    
            var circle_marker_c504e5d1ee9b41d3bd73a0d3abf7b113 = L.circleMarker(
                [40.714049, -73.949411],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.400000000000002, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_53a7adbe67bb4cf7a8ab1c0bdc78d492 = L.popup({"maxWidth": 3000});

        
            var html_74647a7f11fa4bbea3aa342862389c68 = $(`<div id="html_74647a7f11fa4bbea3aa342862389c68" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00m0m_6stKwPwjhL9_0CI0t2_600x450.jpg' height='auto' width='160px' />                     <h3>Intec Wii silver carrying case</h3>                     <h4>Williamsburg</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-intec-wii-silver-carrying-case/7229483221.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_53a7adbe67bb4cf7a8ab1c0bdc78d492.setContent(html_74647a7f11fa4bbea3aa342862389c68);
        

        circle_marker_c504e5d1ee9b41d3bd73a0d3abf7b113.bindPopup(popup_53a7adbe67bb4cf7a8ab1c0bdc78d492)
        ;

        
    
    
            var circle_marker_d917689e84bd40cd84c9aeff756fdc50 = L.circleMarker(
                [40.712702, -73.879352],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.200000000000003, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_6a24372d4520454c9219ec908e0f63a5 = L.popup({"maxWidth": 3000});

        
            var html_92682344311a490d81ac7f36a376b472 = $(`<div id="html_92682344311a490d81ac7f36a376b472" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00X0X_6iGD7xdq3hj_0CI0t2_600x450.jpg' height='auto' width='160px' />                     <h3>Wall units (three)</h3>                     <h4>Middle Village</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/middle-village-wall-units-three/7229483002.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_6a24372d4520454c9219ec908e0f63a5.setContent(html_92682344311a490d81ac7f36a376b472);
        

        circle_marker_d917689e84bd40cd84c9aeff756fdc50.bindPopup(popup_6a24372d4520454c9219ec908e0f63a5)
        ;

        
    
    
            var circle_marker_6f823099b7a340d08c62f12c76e008f9 = L.circleMarker(
                [40.7484, -73.9967],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.000000000000004, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_061d1c21cb7640ecb6061f981e620f9f = L.popup({"maxWidth": 3000});

        
            var html_367a6f15eff143629810495ba7df509f = $(`<div id="html_367a6f15eff143629810495ba7df509f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00k0k_fSiTNqup0Hu_0oc0oc_600x450.jpg' height='auto' width='160px' />                     <h3>Free Disposable Cupcakes Boxes</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/brx/zip/d/new-york-free-disposable-cupcakes-boxes/7229482933.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_061d1c21cb7640ecb6061f981e620f9f.setContent(html_367a6f15eff143629810495ba7df509f);
        

        circle_marker_6f823099b7a340d08c62f12c76e008f9.bindPopup(popup_061d1c21cb7640ecb6061f981e620f9f)
        ;

        
    
    
            var circle_marker_924974092a83404883d17e77e2733141 = L.circleMarker(
                [41.116349, -73.406525],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.800000000000004, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_f8402caf25994024a9813696a460e7d0 = L.popup({"maxWidth": 3000});

        
            var html_381f853e21414eb9b805245cfa312b4f = $(`<div id="html_381f853e21414eb9b805245cfa312b4f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00p0p_fCsi23Anryu_03D04Q_600x450.jpg' height='auto' width='160px' />                     <h3>SCAM!  Baldwin Baby Grand Piano</h3>                     <h4>Fairfield</h4>                     <a href='https://newyork.craigslist.org/fct/zip/d/norwalk-scam-baldwin-baby-grand-piano/7229457684.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_f8402caf25994024a9813696a460e7d0.setContent(html_381f853e21414eb9b805245cfa312b4f);
        

        circle_marker_924974092a83404883d17e77e2733141.bindPopup(popup_f8402caf25994024a9813696a460e7d0)
        ;

        
    
    
            var circle_marker_25c0aa2265aa40ed846ba342cd043df3 = L.circleMarker(
                [40.6794, -73.9496],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.600000000000005, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_73dc612c78344052a1a5ea6262a7ab47 = L.popup({"maxWidth": 3000});

        
            var html_b378d21cd7364ac7b9ca2bff1f94e632 = $(`<div id="html_b378d21cd7364ac7b9ca2bff1f94e632" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00R0R_eXA2irxfoUm_0lM0t2_600x450.jpg' height='auto' width='160px' />                     <h3>Household items</h3>                     <h4>Crown heights</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-household-items/7229479181.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_73dc612c78344052a1a5ea6262a7ab47.setContent(html_b378d21cd7364ac7b9ca2bff1f94e632);
        

        circle_marker_25c0aa2265aa40ed846ba342cd043df3.bindPopup(popup_73dc612c78344052a1a5ea6262a7ab47)
        ;

        
    
    
            var circle_marker_5c68a149b4cb44ac88129c4117bd5524 = L.circleMarker(
                [40.6669, -73.9828],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.400000000000006, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_f8c7675d1ed44fbc977cf4955339b4fc = L.popup({"maxWidth": 3000});

        
            var html_866fb2a1c8eb4253933811e5ef01d2d3 = $(`<div id="html_866fb2a1c8eb4253933811e5ef01d2d3" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>Free queen sized mattress</h3>                     <h4>park slope</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-queen-sized-mattress/7229477060.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_f8c7675d1ed44fbc977cf4955339b4fc.setContent(html_866fb2a1c8eb4253933811e5ef01d2d3);
        

        circle_marker_5c68a149b4cb44ac88129c4117bd5524.bindPopup(popup_f8c7675d1ed44fbc977cf4955339b4fc)
        ;

        
    
    
            var circle_marker_7fd8569767764ad69e6c87f0c0a4d9ad = L.circleMarker(
                [40.6838, -73.8514],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.200000000000006, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_ddf7c6fbfd724f14bd160f38a4a31660 = L.popup({"maxWidth": 3000});

        
            var html_f7889cfaff22418eaa58245ade81970c = $(`<div id="html_f7889cfaff22418eaa58245ade81970c" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>free</h3>                     <h4>Ozone Park</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/ozone-park-free/7229470034.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_ddf7c6fbfd724f14bd160f38a4a31660.setContent(html_f7889cfaff22418eaa58245ade81970c);
        

        circle_marker_7fd8569767764ad69e6c87f0c0a4d9ad.bindPopup(popup_ddf7c6fbfd724f14bd160f38a4a31660)
        ;

        
    
    
            var circle_marker_33d9519e96ee448f919ab87a80d1b1f5 = L.circleMarker(
                [40.737599, -73.877245],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.000000000000007, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_15ebd7fe45914b96b9ea4860b5822e11 = L.popup({"maxWidth": 3000});

        
            var html_9efa74cbbef749a0acf709d27e8a7975 = $(`<div id="html_9efa74cbbef749a0acf709d27e8a7975" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00101_77N7DL8dYi3_0CI0t2_600x450.jpg' height='auto' width='160px' />                     <h3>Free Stuff - please see in picture</h3>                     <h4>Elmhurst</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/elmhurst-free-stuff-please-see-in/7229473121.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_15ebd7fe45914b96b9ea4860b5822e11.setContent(html_9efa74cbbef749a0acf709d27e8a7975);
        

        circle_marker_33d9519e96ee448f919ab87a80d1b1f5.bindPopup(popup_15ebd7fe45914b96b9ea4860b5822e11)
        ;

        
    
    
            var circle_marker_7ceb0b0e4c1c40b090a34e89249b3e27 = L.circleMarker(
                [40.6068, -73.9883],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.800000000000008, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_87eb8860406143128df387765607330d = L.popup({"maxWidth": 3000});

        
            var html_526f34be39664c00b1c9ca78a362c4cf = $(`<div id="html_526f34be39664c00b1c9ca78a362c4cf" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00K0K_gWFEMlEEhhG_0hT0CI_600x450.jpg' height='auto' width='160px' />                     <h3>No, nobody is competing</h3>                     <h4>Brooklyn</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-no-nobody-is-competing/7229456189.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_87eb8860406143128df387765607330d.setContent(html_526f34be39664c00b1c9ca78a362c4cf);
        

        circle_marker_7ceb0b0e4c1c40b090a34e89249b3e27.bindPopup(popup_87eb8860406143128df387765607330d)
        ;

        
    
    
            var circle_marker_8b1294502360418ba4250bfd29623dce = L.circleMarker(
                [40.7178, -74.0073],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.600000000000009, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_aa75eb11e008450ebf7cdfb482991013 = L.popup({"maxWidth": 3000});

        
            var html_6e38bca8ca5e4f129f3591bd9d59ff15 = $(`<div id="html_6e38bca8ca5e4f129f3591bd9d59ff15" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00q0q_1XcdyTz1ZXt_0t20CI_600x450.jpg' height='auto' width='160px' />                     <h3>Plastic bowl and travel mugs</h3>                     <h4>New York</h4>                     <a href='https://newyork.craigslist.org/mnh/zip/d/new-york-plastic-bowl-and-travel-mugs/7229461517.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_aa75eb11e008450ebf7cdfb482991013.setContent(html_6e38bca8ca5e4f129f3591bd9d59ff15);
        

        circle_marker_8b1294502360418ba4250bfd29623dce.bindPopup(popup_aa75eb11e008450ebf7cdfb482991013)
        ;

        
    
    
            var circle_marker_d790a91389624130a832e837c1a4f633 = L.circleMarker(
                [40.731654, -73.820322],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.40000000000001, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_ce7248d71a3c467cbfcde0ffa3f8b3e6 = L.popup({"maxWidth": 3000});

        
            var html_fbeb540745804a429a62272f6274eba6 = $(`<div id="html_fbeb540745804a429a62272f6274eba6" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00J0J_OUt7VPuPT6_0jm0ew_600x450.jpg' height='auto' width='160px' />                     <h3>FREE ITALIAN LEATHER SOFA SET</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/flushing-free-italian-leather-sofa-set/7229457926.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_ce7248d71a3c467cbfcde0ffa3f8b3e6.setContent(html_fbeb540745804a429a62272f6274eba6);
        

        circle_marker_d790a91389624130a832e837c1a4f633.bindPopup(popup_ce7248d71a3c467cbfcde0ffa3f8b3e6)
        ;

        
    
    
            var circle_marker_ce55e6ea39c64288bb8590977d51f45c = L.circleMarker(
                [41.1323, -73.4058],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.20000000000001, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_5b28d45647c54341853eb82ee076d64a = L.popup({"maxWidth": 3000});

        
            var html_366e43183bcd434bac6741924f904451 = $(`<div id="html_366e43183bcd434bac6741924f904451" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00D0D_iujrlaVABsI_0CI0m9_600x450.jpg' height='auto' width='160px' />                     <h3>Free firewood</h3>                     <h4>Norwalk</h4>                     <a href='https://newyork.craigslist.org/fct/zip/d/norwalk-free-firewood/7229453888.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_5b28d45647c54341853eb82ee076d64a.setContent(html_366e43183bcd434bac6741924f904451);
        

        circle_marker_ce55e6ea39c64288bb8590977d51f45c.bindPopup(popup_5b28d45647c54341853eb82ee076d64a)
        ;

        
    
    
            var circle_marker_ba7aa327d17b433aa0d0c3b287252ac9 = L.circleMarker(
                [40.726327, -73.93701],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.00000000000001, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_6ad498e35e1b45f7932d68a20fa83a60 = L.popup({"maxWidth": 3000});

        
            var html_928df723cb4c442e9dc15d0b0fc7f50f = $(`<div id="html_928df723cb4c442e9dc15d0b0fc7f50f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00r0r_9KTAEKXTAbe_0pO0jm_600x450.jpg' height='auto' width='160px' />                     <h3>free gliding chair & foot stool</h3>                     <h4>greenpoint</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-gliding-chair-foot-stool/7229451654.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_6ad498e35e1b45f7932d68a20fa83a60.setContent(html_928df723cb4c442e9dc15d0b0fc7f50f);
        

        circle_marker_ba7aa327d17b433aa0d0c3b287252ac9.bindPopup(popup_6ad498e35e1b45f7932d68a20fa83a60)
        ;

        
    
    
            var circle_marker_a9db8b9835ac406394352b24fdf7685f = L.circleMarker(
                [41.322173, -73.520096],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.800000000000011, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_fc3ca71033c349f9ac977e097ad29810 = L.popup({"maxWidth": 3000});

        
            var html_885283b97369455c8d9bded944a01e3e = $(`<div id="html_885283b97369455c8d9bded944a01e3e" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00202_7CFqDPLNPRy_0ak07K_600x450.jpg' height='auto' width='160px' />                     <h3>Pair of exterior light fixtures</h3>                     <h4>Ridgefield</h4>                     <a href='https://newyork.craigslist.org/fct/zip/d/ridgefield-pair-of-exterior-light/7229449144.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_fc3ca71033c349f9ac977e097ad29810.setContent(html_885283b97369455c8d9bded944a01e3e);
        

        circle_marker_a9db8b9835ac406394352b24fdf7685f.bindPopup(popup_fc3ca71033c349f9ac977e097ad29810)
        ;

        
    
    
            var circle_marker_51ab07b14e944bb1899a72deb1226e8a = L.circleMarker(
                [40.8153, -73.9072],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.600000000000012, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_1a1c7e6889f841dd8fc7a7a9ac356b5b = L.popup({"maxWidth": 3000});

        
            var html_7e92238bad964330800d8bf034a448d1 = $(`<div id="html_7e92238bad964330800d8bf034a448d1" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>PS3</h3>                     <h4>bronx</h4>                     <a href='https://newyork.craigslist.org/brx/zip/d/bronx-ps3/7229402625.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_1a1c7e6889f841dd8fc7a7a9ac356b5b.setContent(html_7e92238bad964330800d8bf034a448d1);
        

        circle_marker_51ab07b14e944bb1899a72deb1226e8a.bindPopup(popup_1a1c7e6889f841dd8fc7a7a9ac356b5b)
        ;

        
    
    
            var circle_marker_2414fd2d013a478593af1774575da483 = L.circleMarker(
                [40.618676, -73.976825],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.400000000000013, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_51e9aa1e342b44debfd3f798a8664764 = L.popup({"maxWidth": 3000});

        
            var html_59495375c7af4bf5a767da57e99eeee6 = $(`<div id="html_59495375c7af4bf5a767da57e99eeee6" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/01414_2wowRWjk997_0t20CI_600x450.jpg' height='auto' width='160px' />                     <h3>few litle set</h3>                     <h4>brooklyn</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-few-litle-set/7229436311.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_51e9aa1e342b44debfd3f798a8664764.setContent(html_59495375c7af4bf5a767da57e99eeee6);
        

        circle_marker_2414fd2d013a478593af1774575da483.bindPopup(popup_51e9aa1e342b44debfd3f798a8664764)
        ;

        
    
    
            var circle_marker_1b12f7c34fd84c43b01421cc8010f7b6 = L.circleMarker(
                [40.7651, -73.9638],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.200000000000014, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_c10b1d25aba446f9a231e4e1c4195a54 = L.popup({"maxWidth": 3000});

        
            var html_f18e360b516541aabaa2026a53a32020 = $(`<div id="html_f18e360b516541aabaa2026a53a32020" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>Spend 40% get 40$ 11/11/ Singles Day!!</h3>                     <h4>New York</h4>                     <a href='https://newyork.craigslist.org/mnh/zip/d/new-york-spend-40-get-singles-day/7229415799.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_c10b1d25aba446f9a231e4e1c4195a54.setContent(html_f18e360b516541aabaa2026a53a32020);
        

        circle_marker_1b12f7c34fd84c43b01421cc8010f7b6.bindPopup(popup_c10b1d25aba446f9a231e4e1c4195a54)
        ;

        
    
    
            var circle_marker_1d7a0a5d972d4064a41e73add691892b = L.circleMarker(
                [41.3708, -73.4107],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.000000000000014, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_0da57fcea05349d394f4097a32382f15 = L.popup({"maxWidth": 3000});

        
            var html_c1a429047c9943b98f20ed8b5870db52 = $(`<div id="html_c1a429047c9943b98f20ed8b5870db52" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00909_aWHl58fhtWi_0rP0CI_600x450.jpg' height='auto' width='160px' />                     <h3>Free Wetsuit Men’s Small (Ws M)</h3>                     <h4>Bethel</h4>                     <a href='https://newyork.craigslist.org/fct/zip/d/bethel-free-wetsuit-mens-small-ws/7229443373.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_0da57fcea05349d394f4097a32382f15.setContent(html_c1a429047c9943b98f20ed8b5870db52);
        

        circle_marker_1d7a0a5d972d4064a41e73add691892b.bindPopup(popup_0da57fcea05349d394f4097a32382f15)
        ;

        
    
    
            var circle_marker_46019d08a96c479c9c5ed535691de517 = L.circleMarker(
                [40.6011, -73.9475],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.800000000000015, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_16cfdd14fcd545be92de887742d769b9 = L.popup({"maxWidth": 3000});

        
            var html_23a61b888aad49b797cc23164c56f72f = $(`<div id="html_23a61b888aad49b797cc23164c56f72f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/01414_dELJ73KjJSH_07K0ak_600x450.jpg' height='auto' width='160px' />                     <h3>Free China Cabinet & Dining Table</h3>                     <h4>Madison</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-china-cabinet-dining-table/7226075021.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_16cfdd14fcd545be92de887742d769b9.setContent(html_23a61b888aad49b797cc23164c56f72f);
        

        circle_marker_46019d08a96c479c9c5ed535691de517.bindPopup(popup_16cfdd14fcd545be92de887742d769b9)
        ;

        
    
    
            var circle_marker_c9ee5f489f63477ab43913d4dca6d9be = L.circleMarker(
                [40.6011, -73.9475],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.600000000000016, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_801b6c5147d04d8f953e0da37fe5ef1a = L.popup({"maxWidth": 3000});

        
            var html_07f4dc581c2743a6a5ea139ad32f0f3e = $(`<div id="html_07f4dc581c2743a6a5ea139ad32f0f3e" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00v0v_3quArHoCUUI_0ak07K_600x450.jpg' height='auto' width='160px' />                     <h3>Free 1950's Bedroom Set</h3>                     <h4>Madison</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-1950s-bedroom-set/7226075857.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_801b6c5147d04d8f953e0da37fe5ef1a.setContent(html_07f4dc581c2743a6a5ea139ad32f0f3e);
        

        circle_marker_c9ee5f489f63477ab43913d4dca6d9be.bindPopup(popup_801b6c5147d04d8f953e0da37fe5ef1a)
        ;

        
    
    
            var circle_marker_d6dd7be83c4041dd957001b7c194bdf9 = L.circleMarker(
                [40.7651, -73.9638],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.400000000000016, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_31f0041268ba452db7f00a5bb9869504 = L.popup({"maxWidth": 3000});

        
            var html_a3ec955d27eb4df7a09acce6cd8a7c28 = $(`<div id="html_a3ec955d27eb4df7a09acce6cd8a7c28" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>Free Download to Seated!!</h3>                     <h4>Upper East Side</h4>                     <a href='https://newyork.craigslist.org/mnh/zip/d/new-york-free-download-to-seated/7229412152.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_31f0041268ba452db7f00a5bb9869504.setContent(html_a3ec955d27eb4df7a09acce6cd8a7c28);
        

        circle_marker_d6dd7be83c4041dd957001b7c194bdf9.bindPopup(popup_31f0041268ba452db7f00a5bb9869504)
        ;

        
    
    
            var circle_marker_b5b077d5cb7640e79fac999cb2330664 = L.circleMarker(
                [40.7975, -73.9683],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.200000000000017, "stroke": true, "weight": 3}
            ).addTo(map_78e211ce870a4ca6826f3ca738904ae9);
        
    
        var popup_75679ac4dd2740ab9e0012378abb4bc8 = L.popup({"maxWidth": 3000});

        
            var html_646a23e55f084290a6829473a93c148c = $(`<div id="html_646a23e55f084290a6829473a93c148c" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>Norelco three head shaver</h3>                     <h4>Upper West Side</h4>                     <a href='https://newyork.craigslist.org/mnh/zip/d/new-york-norelco-three-head-shaver/7229438695.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_75679ac4dd2740ab9e0012378abb4bc8.setContent(html_646a23e55f084290a6829473a93c148c);
        

        circle_marker_b5b077d5cb7640e79fac999cb2330664.bindPopup(popup_75679ac4dd2740ab9e0012378abb4bc8)
        ;

        
    
</script>