<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a17079e1be974e7c9b4771cd17b7c0f0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a17079e1be974e7c9b4771cd17b7c0f0" ></div>
        
</body>
<script>    
    
            var map_a17079e1be974e7c9b4771cd17b7c0f0 = L.map(
                "map_a17079e1be974e7c9b4771cd17b7c0f0",
                {
                    center: [40.7127, -74.0058],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_81bc8b7ffd0b4cf5845f152b3e1669ec = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
            var circle_marker_1257ef991cbd4bc8b10e8ce7a86b3ee3 = L.circleMarker(
                [40.6628, -73.9546],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_e4b50efc7f8345e584c4722554583d62 = L.popup({"maxWidth": 3000});

        
            var html_382599ebc90b4433acf9be574dd80141 = $(`<div id="html_382599ebc90b4433acf9be574dd80141" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00k0k_aADfUKpSG7M_0Ba144_600x450.jpg' height='auto' width='160px' />                     <h3>Free Baja 90 Quad</h3>                     <h4>BROOKLYN</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-baja-90-quad/7228932633.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_e4b50efc7f8345e584c4722554583d62.setContent(html_382599ebc90b4433acf9be574dd80141);
        

        circle_marker_1257ef991cbd4bc8b10e8ce7a86b3ee3.bindPopup(popup_e4b50efc7f8345e584c4722554583d62)
        ;

        
    
    
            var circle_marker_e0aac56a989b4d15a2bc6d558f8e6347 = L.circleMarker(
                [40.717275, -73.95594],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.8, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_133464ad03fa4ec8b956a34259d0342b = L.popup({"maxWidth": 3000});

        
            var html_c9dd07f9ad314fb08e7923d750121f23 = $(`<div id="html_c9dd07f9ad314fb08e7923d750121f23" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00707_aTmRPnYD8V9_0jm0ew_600x450.jpg' height='auto' width='160px' />                     <h3>Free digital piano / keyboard - Yamaha Arius YDP-121</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-digital-piano-keyboard/7228930894.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_133464ad03fa4ec8b956a34259d0342b.setContent(html_c9dd07f9ad314fb08e7923d750121f23);
        

        circle_marker_e0aac56a989b4d15a2bc6d558f8e6347.bindPopup(popup_133464ad03fa4ec8b956a34259d0342b)
        ;

        
    
    
            var circle_marker_065b60244a454df0ab7ee6c6a5d3d4ac = L.circleMarker(
                [40.703773, -73.931155],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.600000000000001, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_95994c2e60274524be185ac6233e9a7d = L.popup({"maxWidth": 3000});

        
            var html_c0066a556ab64520ac67ad5b915f6bd7 = $(`<div id="html_c0066a556ab64520ac67ad5b915f6bd7" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00q0q_2jOPrL8mZcA_0pO0CI_600x450.jpg' height='auto' width='160px' />                     <h3>A bunch of free stuff!</h3>                     <h4>Bushwick</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-bunch-of-free-stuff/7228930453.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_95994c2e60274524be185ac6233e9a7d.setContent(html_c0066a556ab64520ac67ad5b915f6bd7);
        

        circle_marker_065b60244a454df0ab7ee6c6a5d3d4ac.bindPopup(popup_95994c2e60274524be185ac6233e9a7d)
        ;

        
    
    
            var circle_marker_142fd6a4e0514b01be80b78d22517fa5 = L.circleMarker(
                [40.8312, -73.9474],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.400000000000002, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_6a39c97053bb4786b75150e07a59ca4d = L.popup({"maxWidth": 3000});

        
            var html_9ffddb51010142ad9f97db480a24bf68 = $(`<div id="html_9ffddb51010142ad9f97db480a24bf68" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00m0m_9zTIiDEib7P_0t20CI_600x450.jpg' height='auto' width='160px' />                     <h3>Moving boxes</h3>                     <h4>Washington Heights</h4>                     <a href='https://newyork.craigslist.org/mnh/zip/d/new-york-moving-boxes/7228929818.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_6a39c97053bb4786b75150e07a59ca4d.setContent(html_9ffddb51010142ad9f97db480a24bf68);
        

        circle_marker_142fd6a4e0514b01be80b78d22517fa5.bindPopup(popup_6a39c97053bb4786b75150e07a59ca4d)
        ;

        
    
    
            var circle_marker_c867a3e4735a44c3802787adcabc0bed = L.circleMarker(
                [41.337225, -73.618956],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.200000000000003, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_33d3383f68944ff0b9352be72ef3458f = L.popup({"maxWidth": 3000});

        
            var html_f40a347489b94f64b4e757724e67e579 = $(`<div id="html_f40a347489b94f64b4e757724e67e579" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>NordicTrack - Classic Pro Skier 1970s Exercise machine with oak skis</h3>                     <h4>North Salem, NY</h4>                     <a href='https://newyork.craigslist.org/wch/zip/d/north-salem-nordictrack-classic-pro/7228927958.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_33d3383f68944ff0b9352be72ef3458f.setContent(html_f40a347489b94f64b4e757724e67e579);
        

        circle_marker_c867a3e4735a44c3802787adcabc0bed.bindPopup(popup_33d3383f68944ff0b9352be72ef3458f)
        ;

        
    
    
            var circle_marker_73f22b35915f42559a74c321f96eb050 = L.circleMarker(
                [40.726875, -73.852086],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.000000000000004, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_a9ac63b94c6a4fc8bb2868c568667257 = L.popup({"maxWidth": 3000});

        
            var html_089eaf2ce7a34e7e9b5eeabf34db3291 = $(`<div id="html_089eaf2ce7a34e7e9b5eeabf34db3291" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/01414_leu24krfxZf_0lM0t2_600x450.jpg' height='auto' width='160px' />                     <h3>4 Glasses</h3>                     <h4>Forest Hills</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/rego-park-glasses/7228925764.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_a9ac63b94c6a4fc8bb2868c568667257.setContent(html_089eaf2ce7a34e7e9b5eeabf34db3291);
        

        circle_marker_73f22b35915f42559a74c321f96eb050.bindPopup(popup_a9ac63b94c6a4fc8bb2868c568667257)
        ;

        
    
    
            var circle_marker_a35af4dd174a4e6ea416cf1774847765 = L.circleMarker(
                [40.7513, -73.883],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.800000000000004, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_e3a7852c654142668e212563f4ea7bc4 = L.popup({"maxWidth": 3000});

        
            var html_7b7ece981db24999af2bfb16d4ced59f = $(`<div id="html_7b7ece981db24999af2bfb16d4ced59f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00A0A_205mPRAZ9pB_0lM0t2_600x450.jpg' height='auto' width='160px' />                     <h3>2 Dining chairs (from Angelica Kitchen)</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/jackson-heights-dining-chairs-from/7228923792.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_e3a7852c654142668e212563f4ea7bc4.setContent(html_7b7ece981db24999af2bfb16d4ced59f);
        

        circle_marker_a35af4dd174a4e6ea416cf1774847765.bindPopup(popup_e3a7852c654142668e212563f4ea7bc4)
        ;

        
    
    
            var circle_marker_5b9398b478c344dc9ba783127f7e83dc = L.circleMarker(
                [40.726888, -73.852036],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.600000000000005, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_b3c0b64a290c4a0ab765d13c6f0f65aa = L.popup({"maxWidth": 3000});

        
            var html_7fd409f36f3645dfa49c59b13183b3ad = $(`<div id="html_7fd409f36f3645dfa49c59b13183b3ad" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00V0V_1d2bSODgizB_0CI0t2_600x450.jpg' height='auto' width='160px' />                     <h3>Elmer's Glue 30 sticks</h3>                     <h4>Forest Hills</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/rego-park-elmers-glue-30-sticks/7228923224.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_b3c0b64a290c4a0ab765d13c6f0f65aa.setContent(html_7fd409f36f3645dfa49c59b13183b3ad);
        

        circle_marker_5b9398b478c344dc9ba783127f7e83dc.bindPopup(popup_b3c0b64a290c4a0ab765d13c6f0f65aa)
        ;

        
    
    
            var circle_marker_cf59c71043184106ba81aa63ae4e7331 = L.circleMarker(
                [40.650342, -73.97461],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.400000000000006, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_d2d5d44320f7477895ea7b098901b3cb = L.popup({"maxWidth": 3000});

        
            var html_72d0b059da7c47d78b65c4009f5140da = $(`<div id="html_72d0b059da7c47d78b65c4009f5140da" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00U0U_cquFOvan9Ko_08405n_600x450.jpg' height='auto' width='160px' />                     <h3>MyLine Baby Play Mat</h3>                     <h4>Windsor Terrace</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-myline-baby-play-mat/7228923012.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_d2d5d44320f7477895ea7b098901b3cb.setContent(html_72d0b059da7c47d78b65c4009f5140da);
        

        circle_marker_cf59c71043184106ba81aa63ae4e7331.bindPopup(popup_d2d5d44320f7477895ea7b098901b3cb)
        ;

        
    
    
            var circle_marker_441f13a4474d468ca9fffa346446bfd3 = L.circleMarker(
                [40.830015, -73.917074],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.200000000000006, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_e165cbbb3e454a92a7125cada6ba0d94 = L.popup({"maxWidth": 3000});

        
            var html_aa7a63ef5ac74d4292a70420993456b2 = $(`<div id="html_aa7a63ef5ac74d4292a70420993456b2" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00A0A_kAuDBexs5Uj_0CI0lM_600x450.jpg' height='auto' width='160px' />                     <h3>Bricks rocks stones</h3>                     <h4>1062 grant ave (garden</h4>                     <a href='https://newyork.craigslist.org/brx/zip/d/bronx-bricks-rocks-stones/7219794507.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_e165cbbb3e454a92a7125cada6ba0d94.setContent(html_aa7a63ef5ac74d4292a70420993456b2);
        

        circle_marker_441f13a4474d468ca9fffa346446bfd3.bindPopup(popup_e165cbbb3e454a92a7125cada6ba0d94)
        ;

        
    
    
            var circle_marker_cdbc21e6209c401d803bbb8af8a2d377 = L.circleMarker(
                [40.830015, -73.917074],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.000000000000007, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_50e6ca962a01483fa603f09245f03976 = L.popup({"maxWidth": 3000});

        
            var html_2cb1375b73324f398547330371e0c41b = $(`<div id="html_2cb1375b73324f398547330371e0c41b" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00u0u_e0XiSx6BKka_0CI0lM_600x450.jpg' height='auto' width='160px' />                     <h3>Bricks rocks stones</h3>                     <h4>1062 grant ave (garden</h4>                     <a href='https://newyork.craigslist.org/brx/zip/d/bronx-bricks-rocks-stones/7226993390.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_50e6ca962a01483fa603f09245f03976.setContent(html_2cb1375b73324f398547330371e0c41b);
        

        circle_marker_cdbc21e6209c401d803bbb8af8a2d377.bindPopup(popup_50e6ca962a01483fa603f09245f03976)
        ;

        
    
    
            var circle_marker_100669c222aa473489ea4f7c62bdb970 = L.circleMarker(
                [40.6769, -73.8448],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.800000000000008, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_5da985be8c3342e298afe1ad7e70de7d = L.popup({"maxWidth": 3000});

        
            var html_53afc49af6bc4efba302a7891b49e1bc = $(`<div id="html_53afc49af6bc4efba302a7891b49e1bc" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/01010_gdiFH73mVkE_0de0hD_600x450.jpg' height='auto' width='160px' />                     <h3>Large champagne bottles</h3>                     <h4>Ozone Park</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/ozone-park-large-champagne-bottles/7227694196.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_5da985be8c3342e298afe1ad7e70de7d.setContent(html_53afc49af6bc4efba302a7891b49e1bc);
        

        circle_marker_100669c222aa473489ea4f7c62bdb970.bindPopup(popup_5da985be8c3342e298afe1ad7e70de7d)
        ;

        
    
    
            var circle_marker_f0607736c16447bead11d3c5e143a043 = L.circleMarker(
                [40.694, -73.9903],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.600000000000009, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_2c1a56be962e4b139bcc57e0e098ce78 = L.popup({"maxWidth": 3000});

        
            var html_272c0798ac6f4dc7bac04aa0c6c59f25 = $(`<div id="html_272c0798ac6f4dc7bac04aa0c6c59f25" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00101_7O4sQkMVMKK_0co0gw_600x450.jpg' height='auto' width='160px' />                     <h3>45-gallon storage bin with wheels</h3>                     <h4>Brooklyn</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-45-gallon-storage-bin-with/7228913080.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_2c1a56be962e4b139bcc57e0e098ce78.setContent(html_272c0798ac6f4dc7bac04aa0c6c59f25);
        

        circle_marker_f0607736c16447bead11d3c5e143a043.bindPopup(popup_2c1a56be962e4b139bcc57e0e098ce78)
        ;

        
    
    
            var circle_marker_992e349d18c4400a9222c56b6649b450 = L.circleMarker(
                [40.7816, -73.9511],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.40000000000001, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_4bfdd02f413d434ba6e670cde982e549 = L.popup({"maxWidth": 3000});

        
            var html_a56430e73f1e4a34b40c4fa10045454f = $(`<div id="html_a56430e73f1e4a34b40c4fa10045454f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/01616_hpiNSFxGyjM_06s06s_600x450.jpg' height='auto' width='160px' />                     <h3>Free Humalog Insulin Kwikpens</h3>                     <h4>Upper East Side</h4>                     <a href='https://newyork.craigslist.org/mnh/zip/d/new-york-free-humalog-insulin-kwikpens/7228911502.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_4bfdd02f413d434ba6e670cde982e549.setContent(html_a56430e73f1e4a34b40c4fa10045454f);
        

        circle_marker_992e349d18c4400a9222c56b6649b450.bindPopup(popup_4bfdd02f413d434ba6e670cde982e549)
        ;

        
    
    
            var circle_marker_d45c2fa3cdcc4a4897badbc38508a10d = L.circleMarker(
                [40.6756, -73.9635],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.20000000000001, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_af25ad8dfbd047a59b853f8f2edb7103 = L.popup({"maxWidth": 3000});

        
            var html_7a8ba96a6c6c4b3aa3af3b71b09aabb5 = $(`<div id="html_7a8ba96a6c6c4b3aa3af3b71b09aabb5" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00V0V_2TRPIfxeSL2_0t20CI_600x450.jpg' height='auto' width='160px' />                     <h3>Free Walker</h3>                     <h4>Prospect Heights, Brooklyn</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-walker/7228906615.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_af25ad8dfbd047a59b853f8f2edb7103.setContent(html_7a8ba96a6c6c4b3aa3af3b71b09aabb5);
        

        circle_marker_d45c2fa3cdcc4a4897badbc38508a10d.bindPopup(popup_af25ad8dfbd047a59b853f8f2edb7103)
        ;

        
    
    
            var circle_marker_537a848876f449b590d98dffedd6c4fa = L.circleMarker(
                [41.1352, -73.5684],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.00000000000001, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_70c99ca988d544a1b912b2b2c65b8a0c = L.popup({"maxWidth": 3000});

        
            var html_0ab2713ffdfb43dd8fa46fc9bda98cf4 = $(`<div id="html_0ab2713ffdfb43dd8fa46fc9bda98cf4" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00I0I_kYsHVSU8oTp_0pO0jm_600x450.jpg' height='auto' width='160px' />                     <h3>King size bed frame</h3>                     <h4>North Stamford</h4>                     <a href='https://newyork.craigslist.org/fct/zip/d/stamford-king-size-bed-frame/7228906266.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_70c99ca988d544a1b912b2b2c65b8a0c.setContent(html_0ab2713ffdfb43dd8fa46fc9bda98cf4);
        

        circle_marker_537a848876f449b590d98dffedd6c4fa.bindPopup(popup_70c99ca988d544a1b912b2b2c65b8a0c)
        ;

        
    
    
            var circle_marker_205a59a8a83a49eb99b15425577aca85 = L.circleMarker(
                [40.6016, -73.9968],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.800000000000011, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_50a2db7ae79f4e608bd11f9c19aba29b = L.popup({"maxWidth": 3000});

        
            var html_0c773495add24f5eac50c033eac9d961 = $(`<div id="html_0c773495add24f5eac50c033eac9d961" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00V0V_lFOhtAER39C_0jm0dA_600x450.jpg' height='auto' width='160px' />                     <h3>Staples Surge Protector 6 Outlets</h3>                     <h4>Brooklyn</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-staples-surge-protector-outlets/7227588891.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_50a2db7ae79f4e608bd11f9c19aba29b.setContent(html_0c773495add24f5eac50c033eac9d961);
        

        circle_marker_205a59a8a83a49eb99b15425577aca85.bindPopup(popup_50a2db7ae79f4e608bd11f9c19aba29b)
        ;

        
    
    
            var circle_marker_3c37b3ad49d64f97aa67299bf84b4d61 = L.circleMarker(
                [40.6016, -73.9968],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.600000000000012, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_6e16c684d8aa4acc99368c742418b3c8 = L.popup({"maxWidth": 3000});

        
            var html_91432cac409248f5b2224990772de312 = $(`<div id="html_91432cac409248f5b2224990772de312" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00o0o_790XtYvJBxl_0pO0jm_600x450.jpg' height='auto' width='160px' />                     <h3>New York Rangers NHL Baseball Hat REEBOK Center Ice Collection</h3>                     <h4>Bensonhurst</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-new-york-rangers-nhl-baseball/7227589159.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_6e16c684d8aa4acc99368c742418b3c8.setContent(html_91432cac409248f5b2224990772de312);
        

        circle_marker_3c37b3ad49d64f97aa67299bf84b4d61.bindPopup(popup_6e16c684d8aa4acc99368c742418b3c8)
        ;

        
    
    
            var circle_marker_45112169fb194cf5a523c6a1ca4de025 = L.circleMarker(
                [40.6016, -73.9968],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.400000000000013, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_4a6d3a9758634698ae165932ae9cd7cb = L.popup({"maxWidth": 3000});

        
            var html_7d097f68cd61433fa8667a0716298cd5 = $(`<div id="html_7d097f68cd61433fa8667a0716298cd5" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00404_cKcaz7KMO0Z_0lM0t2_600x450.jpg' height='auto' width='160px' />                     <h3>Vintage Mahogany Dinning Room Pieces</h3>                     <h4>Bensonhurst</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-vintage-mahogany-dinning-room/7228902261.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_4a6d3a9758634698ae165932ae9cd7cb.setContent(html_7d097f68cd61433fa8667a0716298cd5);
        

        circle_marker_45112169fb194cf5a523c6a1ca4de025.bindPopup(popup_4a6d3a9758634698ae165932ae9cd7cb)
        ;

        
    
    
            var circle_marker_77c54f72160749e3bee11d727d618438 = L.circleMarker(
                [40.770652, -73.950798],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.200000000000014, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_6a1e2100d18c467db8ac3447b78c5680 = L.popup({"maxWidth": 3000});

        
            var html_61b99909b4224bae9a047cfd3e80705f = $(`<div id="html_61b99909b4224bae9a047cfd3e80705f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>Moving - Donating several items for pick up only</h3>                     <h4>Upper East Side</h4>                     <a href='https://newyork.craigslist.org/mnh/zip/d/new-york-moving-donating-several-items/7228900612.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_6a1e2100d18c467db8ac3447b78c5680.setContent(html_61b99909b4224bae9a047cfd3e80705f);
        

        circle_marker_77c54f72160749e3bee11d727d618438.bindPopup(popup_6a1e2100d18c467db8ac3447b78c5680)
        ;

        
    
    
            var circle_marker_b0826aac51b04a12a3a7c79be4fb490e = L.circleMarker(
                [40.6536, -73.5866],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.000000000000014, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_f34aea3022af45d69710052e50a9a86a = L.popup({"maxWidth": 3000});

        
            var html_2c95609331df440ebe922aabf765399f = $(`<div id="html_2c95609331df440ebe922aabf765399f" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>FISHER PRICE TOUGH TRICYCLE</h3>                     <h4>FREEPORT</h4>                     <a href='https://newyork.craigslist.org/lgi/zip/d/freeport-fisher-price-tough-tricycle/7218785880.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_f34aea3022af45d69710052e50a9a86a.setContent(html_2c95609331df440ebe922aabf765399f);
        

        circle_marker_b0826aac51b04a12a3a7c79be4fb490e.bindPopup(popup_f34aea3022af45d69710052e50a9a86a)
        ;

        
    
    
            var circle_marker_52bdc1343c3747aa8ad8902e227e1554 = L.circleMarker(
                [40.6536, -73.5866],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.800000000000015, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_143a74ba424d4709a478c95612f23f3b = L.popup({"maxWidth": 3000});

        
            var html_f673185f86bd4f25870ee2419eb2ec95 = $(`<div id="html_f673185f86bd4f25870ee2419eb2ec95" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/01717_2OmS97DUREN_0c60lw_600x450.jpg' height='auto' width='160px' />                     <h3>PIECE OF GRANITE</h3>                     <h4>FREEPORT</h4>                     <a href='https://newyork.craigslist.org/lgi/zip/d/freeport-piece-of-granite/7224599686.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_143a74ba424d4709a478c95612f23f3b.setContent(html_f673185f86bd4f25870ee2419eb2ec95);
        

        circle_marker_52bdc1343c3747aa8ad8902e227e1554.bindPopup(popup_143a74ba424d4709a478c95612f23f3b)
        ;

        
    
    
            var circle_marker_ca439f26f3464d658bbc6b085ff176b6 = L.circleMarker(
                [40.9461, -73.8669],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.600000000000016, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_08d0d01e1ea4481c9b1bc4920d3926a3 = L.popup({"maxWidth": 3000});

        
            var html_de126119fca1409e8218db2cf308ef4b = $(`<div id="html_de126119fca1409e8218db2cf308ef4b" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/300px-No_image_3x4.svg.png' height='auto' width='160px' />                     <h3>FREE VINTAGE BINOCULARS</h3>                     <h4>Yonkers</h4>                     <a href='https://newyork.craigslist.org/wch/zip/d/yonkers-free-vintage-binoculars/7228895540.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_08d0d01e1ea4481c9b1bc4920d3926a3.setContent(html_de126119fca1409e8218db2cf308ef4b);
        

        circle_marker_ca439f26f3464d658bbc6b085ff176b6.bindPopup(popup_08d0d01e1ea4481c9b1bc4920d3926a3)
        ;

        
    
    
            var circle_marker_5275c3afaf3d4bc2bd4b7558be6476e0 = L.circleMarker(
                [40.684156, -73.990071],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.400000000000016, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_7bb43e504e6c42abab8c47e917252736 = L.popup({"maxWidth": 3000});

        
            var html_418e07100639459395d8833c1006bee3 = $(`<div id="html_418e07100639459395d8833c1006bee3" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00k0k_9Y6fnqtRkVW_0t20CI_600x450.jpg' height='auto' width='160px' />                     <h3>Free Ikea Floor Lamp</h3>                     <h4>Brooklyn</h4>                     <a href='https://newyork.craigslist.org/brk/zip/d/brooklyn-free-ikea-floor-lamp/7228891930.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_7bb43e504e6c42abab8c47e917252736.setContent(html_418e07100639459395d8833c1006bee3);
        

        circle_marker_5275c3afaf3d4bc2bd4b7558be6476e0.bindPopup(popup_7bb43e504e6c42abab8c47e917252736)
        ;

        
    
    
            var circle_marker_118d2a05c6184ea6a17ccd3e224aa39f = L.circleMarker(
                [40.7513, -73.883],
                {"bubblingMouseEvents": true, "color": "#428aae", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.200000000000017, "stroke": true, "weight": 3}
            ).addTo(map_a17079e1be974e7c9b4771cd17b7c0f0);
        
    
        var popup_5cd60020574040259ec68e8f19186caa = L.popup({"maxWidth": 3000});

        
            var html_9bcf3faa126b4e17b53b8f4a60da8f69 = $(`<div id="html_9bcf3faa126b4e17b53b8f4a60da8f69" style="width: 100.0%; height: 100.0%;">                     <link rel='stylesheet' type='text/css'                     href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>                     <img src='https://images.craigslist.org/00Q0Q_j4Mhykl1or2_0CI0t2_600x450.jpg' height='auto' width='160px' />                     <h3>IKEA Jokkmokk Table</h3>                     <h4>None</h4>                     <a href='https://newyork.craigslist.org/que/zip/d/jackson-heights-ikea-jokkmokk-table/7228891241.html' target='_blank'>View Posting in New Tab</a>             </div>`)[0];
            popup_5cd60020574040259ec68e8f19186caa.setContent(html_9bcf3faa126b4e17b53b8f4a60da8f69);
        

        circle_marker_118d2a05c6184ea6a17ccd3e224aa39f.bindPopup(popup_5cd60020574040259ec68e8f19186caa)
        ;

        
    
</script>