<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>TreasureMap{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Treasure Map">
    <meta name="keywords" content="">
    <meta name="author" content="Fenimore Love">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
    
<style>
    .image-cropper {
      width: 180px;
      height: 180px;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      }

      .image-cropper img {
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
      }
</style>
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
      <a class="navbar-brand" href="/"><img width="30px" height="30px" src="../static/img/noun_89070.png"> The Treasure Map</a>
        <div class="nav-collapse">
          {% block navbar_right %}
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}
    <div class="container page">
        <div class="content">
          {% block content %}
          
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>Treasure Map | Fenimore Love 2015</p>
        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
