{% extends "base.html" %}
{% block title %} - {{ location.title() }}{% endblock %}
{% block content %}


<div id="map"> {% include 'raw_map.html' %}</div>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link href='https://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
<style>
body {
font-family: 'IM Fell English', serif;
}
h1, h2, h3, h4 {
font-family: 'IM Fell English', serif;
}

</style>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <div class="panel panel-success" style='width:100%;margin-top:20%'>
        <div class="panel-heading">
          <div class='panel-title text-center' style='padding:5px;'>
            Treasures of {{ location.title() }}
            <button class='btn btn-primary btn-sm' id='show-l-btn'>Legend</button>
            <button class='btn btn-info btn-sm' id='show-r-btn'>Listing</button>
          </div>
        </div>
        <div id='legend' style='display:none' class="panel-body">
          <small>Key</small><br>
          <ul>
            <li>The listings are represented in diminishing order.</li>
            <li>The <b>smaller</b> the posting, the older it is. </li>
            <li>The <b>darker</b> the border, the higher the amount of overlap.</li>
          </ul>
         <small>Trouble Shooting</small><br>
          <ul>
            <li>If the script can't find the location, it places it in the <b>city-center</b>.
</li>
            <li>If empty, try <b>zooming out.</b></li>
          </ul>
          <small>API</small><br>
          <ul>
            <li>treasure.plyp.org/"location"/map | Default 10 items.</li>
            <li>treasure.plyp.org/"location"/map/x | The geocoder may crash around 20 items.</li>
          </ul>
          <a class="btn btn-success btn-sm center-block" href="map/15" onclick="loading()">Load 15 Items</a>
        </div>
        <div id='recent' style='display:none' class='panel-body'>
          <div id='recent-display'>
            {% for thing in things %}
            <div class="media">
              <div class="media-left">
                <a href={{ thing.url }} target="_blank" >
                  <img class="pull-left media-object" style="width:64px"
                      src={{ thing.image }} >
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
              {{ thing.title.title() }}</h4>
              {{ thing.place.title() }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<script>
$(document).ready(function(){
    $("#show-l-btn").click(function(){
        $("#legend").toggle();
        if ($('#recent').css('display') == 'block') {
          $("#recent").toggle();
        }
    });
});
$(document).ready(function(){
    $("#show-r-btn").click(function(){
        $("#recent").toggle();
        if ($('#legend').css('display') == 'block') {
          $("#legend").toggle();
        }
    });
});
function loading(){
  $("#loading").show();
  $("#content").hide();
}
</script>

{% endblock %}
