
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="/static/css/style.css" />
        
        
        
            
        
            <script src="https://rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_7005cb76d0834ab5bcc8c742420e7e4e {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_7005cb76d0834ab5bcc8c742420e7e4e" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_7005cb76d0834ab5bcc8c742420e7e4e = L.map('map_7005cb76d0834ab5bcc8c742420e7e4e', {
                                           center:[45.5088,-73.5878],
                                           zoom: 12,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_4859b53618c245ecbea87559f2f9ef7d = L.tileLayer(
                'https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_7005cb76d0834ab5bcc8c742420e7e4e);

        
        
            

            var circle_marker_edc57e4ede854975803a9f88550bfd6d = L.circle(
                [45.5087928,-73.5539819],
                500,
                {
                    color: '#000000',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_7005cb76d0834ab5bcc8c742420e7e4e);
            
        
            
            var popup_ba43e4f7898443e39ccbb8ef684530c4 = L.popup({maxWidth: '300'});

            
                var html_1fe085fa2c2d4eaa886911ac2dc90711 = $('         <div id="html_1fe085fa2c2d4eaa886911ac2dc90711"                 style="width: 100.0%; height: 100.0%;">                                  &lt;img src=&#39;https://images.craigslist.org/00s0s_8hVQUHmSeXK_300x300.jpg&#39; height=&#39;auto&#39; width=&#39;160px&#39; /&gt;                 &lt;h3&gt;Bunch of stuff&lt;/h3&gt;                 &lt;h4&gt;Montre, montreal&lt;/h4&gt;                 &lt;a href=&#39;http://montreal.craigslist.ca/zip/5510451483.html&#39; target=&#39;_blank&#39;&gt;View Posting in New Tab&lt;/a&gt;                </div>                 ')[0];
                popup_ba43e4f7898443e39ccbb8ef684530c4.setContent(html_1fe085fa2c2d4eaa886911ac2dc90711);
            

            circle_marker_edc57e4ede854975803a9f88550bfd6d.bindPopup(popup_ba43e4f7898443e39ccbb8ef684530c4);

            
        
        
            

            var circle_marker_125b12384a194e12946d5cb9b4cd0ab9 = L.circle(
                [45.516026,-73.595591],
                490,
                {
                    color: '#000000',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_7005cb76d0834ab5bcc8c742420e7e4e);
            
        
            
            var popup_ebe1f99772bc4528b7785ab187c432c9 = L.popup({maxWidth: '300'});

            
                var html_348c68098cd74ead8475aa8f46419d71 = $('         <div id="html_348c68098cd74ead8475aa8f46419d71"                 style="width: 100.0%; height: 100.0%;">                                  &lt;img src=&#39;http://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg&#39; height=&#39;auto&#39; width=&#39;160px&#39; /&gt;                 &lt;h3&gt;Free Mattress - Twin Bed&lt;/h3&gt;                 &lt;h4&gt;montreal, Somewhere&lt;/h4&gt;                 &lt;a href=&#39;http://montreal.craigslist.ca/zip/5510127553.html&#39; target=&#39;_blank&#39;&gt;View Posting in New Tab&lt;/a&gt;                </div>                 ')[0];
                popup_ebe1f99772bc4528b7785ab187c432c9.setContent(html_348c68098cd74ead8475aa8f46419d71);
            

            circle_marker_125b12384a194e12946d5cb9b4cd0ab9.bindPopup(popup_ebe1f99772bc4528b7785ab187c432c9);

            
        
        
        
        </script>
        