
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="/static/css/style.css" />
        
        
        
            
        
            <script src="https://rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
        
            <link rel="stylesheet" href="/static/css/map.css" />
        
        
        
            
            <style> #map_50fcf9410ef949eeaff5bc92700be8d7 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_50fcf9410ef949eeaff5bc92700be8d7" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_50fcf9410ef949eeaff5bc92700be8d7 = L.map('map_50fcf9410ef949eeaff5bc92700be8d7', {
                                           center:[45.5088,-73.5878],
                                           zoom: 12,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_13f98f61022c4732be00a46462ac29c8 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_50fcf9410ef949eeaff5bc92700be8d7);

        
        
            

            var circle_marker_6911939ca4d34f90bb4ed08f96bd1ece = L.circle(
                [45.527482,-73.519779],
                500,
                {
                    color: 'black',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_4accf6880a624062ac616a69c8465179 = L.popup({maxWidth: '3000'});

            
                var i_frame_153518f1944b40618245b1cc582a6d32 = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHBzOi8vaW1hZ2VzLmNyYWlnc2xpc3Qub3JnLzAxMDEwX2JoOE5NSTVKb2VzXzMwMHgzMDAuanBnJyBoZWlnaHQ9J2F1dG8nIHdpZHRoPScxNjBweCcgLz4KICAgICAgICAgICAgICAgICAgICA8aDM+VHJhaW5pbmcgdG8gYmVjb21pbmcgYSBtYXN0ZXIgRW50cmVwcmVuZXVyISBGUkVFIFVOVElMIDA0LzA0LzE3PC9oMz4KICAgICAgICAgICAgICAgICAgICA8aDQ+TG9uZ3VldWksIG1vbnRyZWFsPC9oND4KICAgICAgICAgICAgICAgICAgICA8YSBocmVmPSdodHRwOi8vbW9udHJlYWwuY3JhaWdzbGlzdC5jYS96aXAvNjA2OTg3NDUzMC5odG1sJyB0YXJnZXQ9J19ibGFuayc+VmlldyBQb3N0aW5nIGluIE5ldyBUYWI8L2E+CiAgICAgICAgICAgICAgICAgICAKICAgICAgICAKICAgICAgICA=" width="200" height="300"></iframe>')[0];
                popup_4accf6880a624062ac616a69c8465179.setContent(i_frame_153518f1944b40618245b1cc582a6d32);
            

            circle_marker_6911939ca4d34f90bb4ed08f96bd1ece.bindPopup(popup_4accf6880a624062ac616a69c8465179);

            
        
        
            

            var circle_marker_8ffccad5acd14aca92a13ad39e8c974a = L.circle(
                [45.512149,-73.619909],
                490,
                {
                    color: 'black',
                    fillColor: '#3186cc',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_9e59d7145b1a4efbb8b7befdb4bf2529 = L.popup({maxWidth: '3000'});

            
                var i_frame_9613e715d14a4fa499af7243d9b25c22 = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHBzOi8vaW1hZ2VzLmNyYWlnc2xpc3Qub3JnLzAwbDBsX0NsR3d5dTRuSlpfMzAweDMwMC5qcGcnIGhlaWdodD0nYXV0bycgd2lkdGg9JzE2MHB4JyAvPgogICAgICAgICAgICAgICAgICAgIDxoMz5GcmVlIFNvbnkgVHJpbml0cm9uIDM2IiBUVjwvaDM+CiAgICAgICAgICAgICAgICAgICAgPGg0Pk91dHJlbSwgbW9udHJlYWw8L2g0PgogICAgICAgICAgICAgICAgICAgIDxhIGhyZWY9J2h0dHA6Ly9tb250cmVhbC5jcmFpZ3NsaXN0LmNhL3ppcC82MDY4OTcxMDIwLmh0bWwnIHRhcmdldD0nX2JsYW5rJz5WaWV3IFBvc3RpbmcgaW4gTmV3IFRhYjwvYT4KICAgICAgICAgICAgICAgICAgIAogICAgICAgIAogICAgICAgIA==" width="200" height="300"></iframe>')[0];
                popup_9e59d7145b1a4efbb8b7befdb4bf2529.setContent(i_frame_9613e715d14a4fa499af7243d9b25c22);
            

            circle_marker_8ffccad5acd14aca92a13ad39e8c974a.bindPopup(popup_9e59d7145b1a4efbb8b7befdb4bf2529);

            
        
        
            

            var circle_marker_068b01be4fea42968fb4db08d00ed8fa = L.circle(
                [45.4889881,-73.6357909],
                480,
                {
                    color: 'black',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_b0df53adda8f4b7a80432f27db62391a = L.popup({maxWidth: '3000'});

            
                var i_frame_321f133336b9425593f0d02c7455a6eb = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHA6Ly91cGxvYWQud2lraW1lZGlhLm9yZy93aWtpcGVkaWEvY29tbW9ucy9hL2FjL05vX2ltYWdlX2F2YWlsYWJsZS5zdmcnIGhlaWdodD0nYXV0bycgd2lkdGg9JzE2MHB4JyAvPgogICAgICAgICAgICAgICAgICAgIDxoMz5GUkVFIHRoZWF0cmUgdGlja2V0IGF0IHRoZSBTZWdhbCBDZW50cmU8L2gzPgogICAgICAgICAgICAgICAgICAgIDxoND5TZWdhbCBDLCBtb250cmVhbDwvaDQ+CiAgICAgICAgICAgICAgICAgICAgPGEgaHJlZj0naHR0cDovL21vbnRyZWFsLmNyYWlnc2xpc3QuY2EvemlwLzYwNjc5NDA0NzQuaHRtbCcgdGFyZ2V0PSdfYmxhbmsnPlZpZXcgUG9zdGluZyBpbiBOZXcgVGFiPC9hPgogICAgICAgICAgICAgICAgICAgCiAgICAgICAgCiAgICAgICAg" width="200" height="300"></iframe>')[0];
                popup_b0df53adda8f4b7a80432f27db62391a.setContent(i_frame_321f133336b9425593f0d02c7455a6eb);
            

            circle_marker_068b01be4fea42968fb4db08d00ed8fa.bindPopup(popup_b0df53adda8f4b7a80432f27db62391a);

            
        
        
            

            var circle_marker_2f9796a7b9d94b83956996bbf2bd0d23 = L.circle(
                [45.478630,-73.554676],
                470,
                {
                    color: 'black',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_a1a9cf68ead74a7aace9bf2c3e45b4c0 = L.popup({maxWidth: '3000'});

            
                var i_frame_2f5edd0ecd8b4572b1103791a6954869 = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHBzOi8vaW1hZ2VzLmNyYWlnc2xpc3Qub3JnLzAxMjEyXzNyb1d1YWd3NkxRXzMwMHgzMDAuanBnJyBoZWlnaHQ9J2F1dG8nIHdpZHRoPScxNjBweCcgLz4KICAgICAgICAgICAgICAgICAgICA8aDM+RlJFRSEgIENsb3RoZXMsIG1lZGljaW5lIGNhYmluZXQsIGhvdXNlaG9sZCwgbWlzYy48L2gzPgogICAgICAgICAgICAgICAgICAgIDxoND5Qb2ludGUtU2FpbnQtQywgbW9udHJlYWw8L2g0PgogICAgICAgICAgICAgICAgICAgIDxhIGhyZWY9J2h0dHA6Ly9tb250cmVhbC5jcmFpZ3NsaXN0LmNhL3ppcC82MDI3OTkzNTA4Lmh0bWwnIHRhcmdldD0nX2JsYW5rJz5WaWV3IFBvc3RpbmcgaW4gTmV3IFRhYjwvYT4KICAgICAgICAgICAgICAgICAgIAogICAgICAgIAogICAgICAgIA==" width="200" height="300"></iframe>')[0];
                popup_a1a9cf68ead74a7aace9bf2c3e45b4c0.setContent(i_frame_2f5edd0ecd8b4572b1103791a6954869);
            

            circle_marker_2f9796a7b9d94b83956996bbf2bd0d23.bindPopup(popup_a1a9cf68ead74a7aace9bf2c3e45b4c0);

            
        
        
            

            var circle_marker_7eab15bff7934e8583f26747dd9265cf = L.circle(
                [45.4972159,-73.6103641],
                460,
                {
                    color: 'black',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_b685d0fc5d9e49f7856819c4016fa91c = L.popup({maxWidth: '3000'});

            
                var i_frame_44c31ec5571748ee9d467f768d345808 = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHA6Ly91cGxvYWQud2lraW1lZGlhLm9yZy93aWtpcGVkaWEvY29tbW9ucy9hL2FjL05vX2ltYWdlX2F2YWlsYWJsZS5zdmcnIGhlaWdodD0nYXV0bycgd2lkdGg9JzE2MHB4JyAvPgogICAgICAgICAgICAgICAgICAgIDxoMz4kNSBvZmYgeW91ciBmaXJzdCBmb29kIGRlbGl2ZXJ5PC9oMz4KICAgICAgICAgICAgICAgICAgICA8aDQ+TSwgbW9udHJlYWw8L2g0PgogICAgICAgICAgICAgICAgICAgIDxhIGhyZWY9J2h0dHA6Ly9tb250cmVhbC5jcmFpZ3NsaXN0LmNhL3ppcC82MDY3NTY0NjMzLmh0bWwnIHRhcmdldD0nX2JsYW5rJz5WaWV3IFBvc3RpbmcgaW4gTmV3IFRhYjwvYT4KICAgICAgICAgICAgICAgICAgIAogICAgICAgIAogICAgICAgIA==" width="200" height="300"></iframe>')[0];
                popup_b685d0fc5d9e49f7856819c4016fa91c.setContent(i_frame_44c31ec5571748ee9d467f768d345808);
            

            circle_marker_7eab15bff7934e8583f26747dd9265cf.bindPopup(popup_b685d0fc5d9e49f7856819c4016fa91c);

            
        
        
            

            var circle_marker_744c96ddd63745b4b2b4d9f7f49a8a74 = L.circle(
                [45.540398,-73.602626],
                450,
                {
                    color: 'black',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_e1aa9ce6c8a24181a06fc9abcae88a10 = L.popup({maxWidth: '3000'});

            
                var i_frame_78eb161666834089bc98d293be08b2aa = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHBzOi8vaW1hZ2VzLmNyYWlnc2xpc3Qub3JnLzAwRzBHXzRmR1pETUhQYXVLXzMwMHgzMDAuanBnJyBoZWlnaHQ9J2F1dG8nIHdpZHRoPScxNjBweCcgLz4KICAgICAgICAgICAgICAgICAgICA8aDM+Q29udGluZW50YWwgV2ludGVyIENvbnRhY3QgMjA1LzU1IFIgMTYgVGlyZXM8L2gzPgogICAgICAgICAgICAgICAgICAgIDxoND5MaXR0bGUgSXRhbHksIG1vbnRyZWFsPC9oND4KICAgICAgICAgICAgICAgICAgICA8YSBocmVmPSdodHRwOi8vbW9udHJlYWwuY3JhaWdzbGlzdC5jYS96aXAvNjAzNTAyMzI5NS5odG1sJyB0YXJnZXQ9J19ibGFuayc+VmlldyBQb3N0aW5nIGluIE5ldyBUYWI8L2E+CiAgICAgICAgICAgICAgICAgICAKICAgICAgICAKICAgICAgICA=" width="200" height="300"></iframe>')[0];
                popup_e1aa9ce6c8a24181a06fc9abcae88a10.setContent(i_frame_78eb161666834089bc98d293be08b2aa);
            

            circle_marker_744c96ddd63745b4b2b4d9f7f49a8a74.bindPopup(popup_e1aa9ce6c8a24181a06fc9abcae88a10);

            
        
        
            

            var circle_marker_87f3675a8eb44c6ba5cf0dd7c58b4b05 = L.circle(
                [45.4972159,-73.6103641],
                440,
                {
                    color: 'black',
                    fillColor: '#000000',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_fab4a05ac1dc45f4a17b528653615ad1 = L.popup({maxWidth: '3000'});

            
                var i_frame_3ce27b0b6f104ef49380a5d4b6634272 = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHA6Ly91cGxvYWQud2lraW1lZGlhLm9yZy93aWtpcGVkaWEvY29tbW9ucy9hL2FjL05vX2ltYWdlX2F2YWlsYWJsZS5zdmcnIGhlaWdodD0nYXV0bycgd2lkdGg9JzE2MHB4JyAvPgogICAgICAgICAgICAgICAgICAgIDxoMz5GUkVFIE5PVkVMUyArb3RoZXIgYm9va3Mgb3V0c2lkZSBBVFdBVEVSIGxpYnJhcnkgbW9zdCBXZWRuZXNkYXkgbW9ybnM8L2gzPgogICAgICAgICAgICAgICAgICAgIDxoND5NLCBtb250cmVhbDwvaDQ+CiAgICAgICAgICAgICAgICAgICAgPGEgaHJlZj0naHR0cDovL21vbnRyZWFsLmNyYWlnc2xpc3QuY2EvemlwLzYwNjMyMzIwNDMuaHRtbCcgdGFyZ2V0PSdfYmxhbmsnPlZpZXcgUG9zdGluZyBpbiBOZXcgVGFiPC9hPgogICAgICAgICAgICAgICAgICAgCiAgICAgICAgCiAgICAgICAg" width="200" height="300"></iframe>')[0];
                popup_fab4a05ac1dc45f4a17b528653615ad1.setContent(i_frame_3ce27b0b6f104ef49380a5d4b6634272);
            

            circle_marker_87f3675a8eb44c6ba5cf0dd7c58b4b05.bindPopup(popup_fab4a05ac1dc45f4a17b528653615ad1);

            
        
        
            

            var circle_marker_50a456dca17b4dc89a15f750d06873d6 = L.circle(
                [45.473856,-73.604541],
                430,
                {
                    color: 'black',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_706ee018198e40d7b94a35ff5789884e = L.popup({maxWidth: '3000'});

            
                var i_frame_62bd98131c34455ca8968b660ba82137 = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHBzOi8vaW1hZ2VzLmNyYWlnc2xpc3Qub3JnLzAxMTExX2h2NzVZYWtMMXJUXzMwMHgzMDAuanBnJyBoZWlnaHQ9J2F1dG8nIHdpZHRoPScxNjBweCcgLz4KICAgICAgICAgICAgICAgICAgICA8aDM+Tm9raWEgY2hhcmdlcnMgdG8gZ2l2ZSBhd2F5PC9oMz4KICAgICAgICAgICAgICAgICAgICA8aDQ+TkRHLCBtb250cmVhbDwvaDQ+CiAgICAgICAgICAgICAgICAgICAgPGEgaHJlZj0naHR0cDovL21vbnRyZWFsLmNyYWlnc2xpc3QuY2EvemlwLzYwMzMzNDkwMTEuaHRtbCcgdGFyZ2V0PSdfYmxhbmsnPlZpZXcgUG9zdGluZyBpbiBOZXcgVGFiPC9hPgogICAgICAgICAgICAgICAgICAgCiAgICAgICAgCiAgICAgICAg" width="200" height="300"></iframe>')[0];
                popup_706ee018198e40d7b94a35ff5789884e.setContent(i_frame_62bd98131c34455ca8968b660ba82137);
            

            circle_marker_50a456dca17b4dc89a15f750d06873d6.bindPopup(popup_706ee018198e40d7b94a35ff5789884e);

            
        
        
            

            var circle_marker_5092523ad67e47ebba6822ea6113752b = L.circle(
                [45.548479,-73.606225],
                420,
                {
                    color: 'black',
                    fillColor: 'white',
                    fillOpacity: 0.2
                    }
                )
                .addTo(map_50fcf9410ef949eeaff5bc92700be8d7);
            
        
            
            var popup_7b9250cfc58c4eec9248f29c3fbc3b21 = L.popup({maxWidth: '3000'});

            
                var i_frame_42ae2228089942038f687dbfb7c5d916 = $('<iframe src="data:text/html;base64,CiAgICAgICAgCiAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIDxsaW5rIHJlbD0nc3R5bGVzaGVldCcgdHlwZT0ndGV4dC9jc3MnIAogICAgICAgICAgICAgICAgICAgIGhyZWY9J2h0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vYm9vdHN0cmFwLzMuMy42L2Nzcy9ib290c3RyYXAubWluLmNzcyc+CiAgICAgICAgICAgICAgICAgICAgPGltZyBzcmM9J2h0dHBzOi8vaW1hZ2VzLmNyYWlnc2xpc3Qub3JnLzAxNDE0X2pBTHpJZFltcGFvXzMwMHgzMDAuanBnJyBoZWlnaHQ9J2F1dG8nIHdpZHRoPScxNjBweCcgLz4KICAgICAgICAgICAgICAgICAgICA8aDM+MiBjaWdhcmV0dGVzIMOpbGVjdHJvbmlxdWUgKyAzIGJhdHRlcmllcyArIGZpbCBjaGFyZ2V1cjwvaDM+CiAgICAgICAgICAgICAgICAgICAgPGg0PjcwOTcgQ2FydGksIG1vbnRyZWFsPC9oND4KICAgICAgICAgICAgICAgICAgICA8YSBocmVmPSdodHRwOi8vbW9udHJlYWwuY3JhaWdzbGlzdC5jYS96aXAvNjA2MTIwNjcwMy5odG1sJyB0YXJnZXQ9J19ibGFuayc+VmlldyBQb3N0aW5nIGluIE5ldyBUYWI8L2E+CiAgICAgICAgICAgICAgICAgICAKICAgICAgICAKICAgICAgICA=" width="200" height="300"></iframe>')[0];
                popup_7b9250cfc58c4eec9248f29c3fbc3b21.setContent(i_frame_42ae2228089942038f687dbfb7c5d916);
            

            circle_marker_5092523ad67e47ebba6822ea6113752b.bindPopup(popup_7b9250cfc58c4eec9248f29c3fbc3b21);

            
        
        
        
        </script>
        