<!DOCTYPE html>
<html>
  <head>
    <title>Newest Stuff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/skeleton.css" rel="stylesheet" media="screen">
    <link href="../static/normalize.css" rel="stylesheet" media="screen">
    <style>
    .image-cropper {
      width: 140px;
      height: 140px;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      }

      img {
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
      <h1>Recent items in {{ location.title() }}</h1>      
      <a class=" button button-primary" href="/{{ location }}/map">Click here to see the map. (it takes a few seconds to load)</a>
      <hr>
      </div>

      <div class="row" style="margin-top:5%;">
        <div class="one column">Select:</div>
        <div class="three columns">      
          {% for thing in things[:3] %}
          <div border="solid 1px" >
            <small>{{ thing.place.title() }} </small>
            <a href ={{ thing.url }} target="_blank">
            <span title={{ thing.title }}>
            <img class="image-cropper"
                src= {{ thing.image }} />
            </span>
            </a>
            <hr>
          </div>
          {% endfor %}
        </div>
        <div class="three columns">
          {% for thing in things[3:6] %}
          <div border="solid">
            <small>{{ thing.place.title() }}</small>
            <span title={{ thing.title }}>
            <img class="image-cropper" href ={{ thing.url }} 
                src= {{ thing.image }} width="auto" height="200px;" />
          </div>
             </span>
             <hr>
          {% endfor %}
        </div>
        <div class="three columns">
          {% for thing in things[6:] %}
          <div border="solid">
            <small>{{ thing.place.title() }}</small>
            <span title={{ thing.title }}>
            <img class="image-cropper" href ={{ thing.url }} 
                src= {{ thing.image }} width="auto" height="200px;" />
          </div>
             </span>
             <hr>
          {% endfor %}
        </div>
      </div>

      <br>
      <hr>

    </div>
  </body>
</html>
